*{
    margin: 0%;
    padding: 0%;
}

.resume-container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    width: 80%;
    height: 800px;
    border-radius:10px; 
    margin: 30px   auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    /* margin: 10px 10px ; */
}

.part1{
    height: 100%;
    width: 40%;
    background-color: rgb(219,211,216);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#profilepic{
    height: 250px;
    border-radius: 45%;
    display: flex;
    align-self: center;
    border: 3px solid orangered;
}

.part1 h2{
    font-size: 30px;
    font-weight: 700;
    /* border: 5px solid orange; */
    /* border-radius: 40%; */
    text-decoration: underline;
    padding: 10px 20px;
    color: rgb(73, 72, 72);
}
.part1 p{
    text-align: center;
    font-size: 20px;
    color: black;
}
#para2{
    margin-top: 10px;
    text-align: left;
}






.part2{
    height: 100%;
    width: 60%;
    /* background-color: rgb(216,180,160); */
}

.part2 h1{
    text-align: center;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 20px;
}

.part2 h3{
    font-size: 30px;
    /* margin: 5px 5px; */
    border: 2px solid orangered;
    box-shadow: orangered 0px 5px 15px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.personalinfo {
    height: 170px;
    width: 60%;
    margin: 20px 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.personalinfo p{
    font-size: 20px;
}

.personalinfo p span{
    color: rgb(76, 76, 179);
    text-decoration: underline;
}

.educations{
    height: 80px;
    width: 60%;
    margin: 20px 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
    /* justify-content: space-around; */
}

.educations  p{
    font-size: 20px;
}

.skillsection{
    height: 100px;
    width: 60%;
    margin: 20px 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#skillheading{
    cursor: pointer;
}

.skillsection li{
    list-style: decimal;
    font-size: 17px;
    font-weight: 550;
}